.NavbarNavigation {
	display: flex;
	width: 100%;
	background: rgb(12, 12, 12);
	background: radial-gradient(
		circle,
		rgb(8, 8, 8) 77%,
		rgb(12, 12, 12) 100%
	);
}

.NavbarContainer {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.fa-cart-shopping {
	margin-right: 5px;
}