.FormContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

h2 {
	font-size: 44px;
	color: #f5f5f5;
  text-shadow: 0 0 5px #03e903, 0 0 25px #03e903, 0 0 50px #03e903, 0 0 100px #03e903;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 1s;
	}

.Textfield {
	width: 400px;
}

.btnASendAction {
	background: rgb(87, 245, 13);
	background: radial-gradient(
		circle,
	rgb(89, 236, 21),
		rgb(98, 250, 28) 100%
	);
	color: white;
	height: 54px;
	width: 400px;
	border-radius: 8px;
	font-size: 18px;
	transition: background, color 0.5s;
	outline: #00ff40;
	border: none;
	margin: 10px;
}

.btnASendAction:hover {
	color: red;
	background: rgb(18, 240, 10);
	background: radial-gradient(circle, rgb(11, 4, 4) 77%, rgb(0, 0, 0) 100%);
}
